.searchInputs {
  margin-top: 100px;
  margin-right: 300px;
  display: flex;
}

.search input {
  background-color: white;
  border: 1px solid black;
  border-radius: 2px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  font-size: 18px;
  padding: 15px;
  position: absolute;
  height: 18px;
  width: 300px;
}

.searchIcon {
  height: 20px;
  width: 20px;
  background-color: white;
  display: grid;
  place-items: center;
}

input:focus {
  outline: none;
}
.searchIcon svg {
  font-size: 26px;
  position: relative;
  left: 280px;
  top: 12px;
}

.dataResult {
  margin-top: 20px;
  width: 300px;
  height: 200px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  overflow: hidden;
  overflow-y: auto;
}

.dataResult::-webkit-scrollbar {
  display: none;
}

.dataResult .dataItem {
  cursor: pointer;
  width: 100%;
  /* height: 50%; */
  display: flex;
  align-items: center;
  color: black;
}
.dataResult .data {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.dataResult .data img {
  width: 50px;
  height: 50px;
}
.dataItem p {
  margin: 10px 5px;
}
a {
  text-decoration: none;
}

a:hover {
  background-color: lightgrey;
}

#clearBtn {
  cursor: pointer;
}
